<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Matrix</title>
    <script src="/static/matrix.js"></script>
    <link rel="stylesheet" href="/static/matrix.css" />
  </head>
  <body>
    <div>
      <label for="color">Color: </label>
      <input type="color" id="color" />
    </div>
    <table>
      {% for row in range(rows) %}
        <tr>
          {% for col in range(cols) %}
            <td data-row="{{row}}" data-col="{{col}}" style="background-color: black;"></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
